[run]
branch = True
source =
    config
    habits
    notifications
    users
omit =
    */migrations/*
    */settings_test.py
    */asgi.py
    */wsgi.py

[report]
fail_under = 80
show_missing = True
skip_covered = True

[html]
directory = htmlcov
